<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
    </ion-buttons>
    <ion-title center>{{ 'Minhas Transações' }}</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>
    <ion-navbar color="primary">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>Minhas Transações</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
        
  <ion-list>
    <h4> Ofertas </h4>
    <button ion-item *ngFor="let itens of itens_vendedor_validos" (click)="abrirVendedor(itens)">
      <ion-avatar item-start>
        <ion-icon name="md-person"></ion-icon>
      </ion-avatar>

      <h2>{{itens.nome}}</h2> 
      <p>{{itens.dia.slice(8,10)}}/{{itens.dia.slice(5,7)}}/{{itens.dia.slice(0,4)}} das {{itens.hora_inicio.slice(0,5)}} às {{itens.hora_fim.slice(0,5)}}</p>
      <p>Quantidade: {{itens.quantidade}} &nbsp; Valor: {{itens.valor}}</p> 
      <p>{{itens.descricao}}</p>

    </button>
  </ion-list>


  <ion-list>
    <h4> Reservas </h4>
    <ion-item text-wrap *ngFor="let itens of itens_comprador_validos">
      <ion-avatar item-start>
        <ion-icon name="md-person"></ion-icon>
      </ion-avatar>
      
      <h2>{{itens.nome}}</h2>
      <h3>Anunciado por {{itens.vendedor}}</h3>
      <p>Disponível em {{itens.dia.slice(8,10)}}/{{itens.dia.slice(5,7)}}/{{itens.dia.slice(0,4)}} das {{itens.hora_inicio.slice(0,5)}} às {{itens.hora_fim.slice(0,5)}}</p>
      <p>{{itens.descricao}}</p>
      <p>Quantidade reservada: {{itens.quantidade}} &nbsp; Valor: {{itens.valor}} cada</p>  
      <p>Valor total: {{itens.valor * itens.quantidade}} </p>
   
            <button ion-button round ><ion-icon name="md-trash" (click)="showConfirm(itens)"> Excluir </ion-icon></button>
      
   
    </ion-item>
  </ion-list>
</ion-content>