page-login{
    ion-content{
        $minumum-margin-bottom: 8.75vh;

        text-align: center; 
        background-image: url("../assets/imgs/unifesp_ict.jpg") !important;
        background-size: auto 120% !important;
        background-position-y: 85% !important;

        &::before{
            @include linear-gradient(rgba(color($colors, dark), 0.1), 20%, color($colors, dark), 80%);
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            opacity: 0.9;
        }

        div.logo{
            margin-top: 17.5vh;
            $border-width: 20px;
            width: auto;

            img{
                border-radius: 50%;
                height: calc(20vh + #{$border-width});
                // border: solid calc(#{$border-widsth} / 2) rgba(color($colors, primary), 0.2);

                box-shadow:
                    0 0 0 calc(#{$border-width} / 2) rgba(color($colors, primary), 0.25),
                    0 0 0 $border-width rgba(color($colors, primary), 0.2);
            }
        }

        form {
            // height: 100%;
            position: absolute;
            bottom: 0;
            width: 100%;
            
            ion-list.list-md, ion-list.list-ios{
                margin-bottom: 0;
                // background-color: rgba(color($colors, dark), 0.75);

                ion-item.item-md, ion-item.item-ios{ 
                    background-color: transparent;
                    padding-right: 16px;

                    ion-input{
                        color: rgba(color($colors, light), 0.85);
                    }
                }
                
            }

            button.button-md, button.button-ios{
                margin-top: $minumum-margin-bottom;
                font-size: 1.8rem;
                margin-bottom: 5vh;
            }
        }
    }
}
