
<ion-header>
    <ion-navbar color="primary">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>Caronas</ion-title>

      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content>
  
  <!--<ion-list>
    <ion-item *ngFor="let d of dados" >{{d.descricao}}
      <ion-thumbnail item-start>
        <!--<img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>{{d.dia}}</h2>
      <p>{{d.hora}}}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>-->

  <ion-list>
    <button ion-item *ngFor="let d of viagens_disponiveis" (click)="selecionar(d)">
      <ion-avatar item-start>
          <img src="assets/imgs/anonimo.png">
      </ion-avatar>
      <h2>{{d.dia.slice(0,10)}} <span style="font-weight: 300;">às</span> {{d.hora}}</h2>
      <p>De <b>{{loc[d.id_origem]}}</b> para <b>{{loc[d.id_destino]}}</b></p>
    </button>
  </ion-list>


</ion-content>
