
<ion-content>
    <div class="navHeight">
    <ion-title class="backTitle">Perfil</ion-title>
    <button class="backButton" (click) = "clickBack()"><ion-icon class="backIcon" md="md-arrow-back"></ion-icon></button>
    <button icon-only style="
        position: absolute;
        top: 10px;
        right: 10px;
        height: 50px;
        width: 50px;
        padding: 0px;
        margin: 0px;
        background: #ffc107;
        border: 1px solid #ffe082;
        z-index: 1;
        color: #444444;"
    (click)="editProfile()" class="configuracoes">
      <ion-icon name='key'></ion-icon>
    </button>
    </div>
    <div style="height: 65px"></div>
  <div>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveProfile()">
      <div class="upperDiv">
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper">
          <div class="profile-image-placeholder" *ngIf="!this.form.controls.image.value">
            <div>
                <img class="circle-pic" 
                  src="assets/imgs/anonimo.png" />
            </div>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.image.value"></div>
        </div>
        <!--dados do usuario-->
        <h3 class="full_name">{{account.full_name}}</h3>
        <!--nome-->
        <h3 class="userDetails">{{account.about}}</h3>
        <!--sobre-->
      </div>

      <ion-list style="padding: 20px !important; border-bottom: 0.55px solid #fff;">
        <ion-item style="border-top: 0.55px solid #fff;">

          <!--CAMPO USUARIO-->
          <ion-label class="usuario">Usuário </ion-label>
          <ion-input class="inputFields" type="text" formControlName="user_name" (keyup)="changedSmtng()" disabled="{{isDisabled}}"
            [(ngModel)]="account.user_name"></ion-input>
        </ion-item>

        <!--CAMPO RA-->
        <ion-item>
          <ion-label class="ra">RA </ion-label>
          <ion-input class="inputFields" type="text" formControlName="user_RA" (keyup)="changedSmtng()" disabled="{{isDisabled}}"
            [(ngModel)]="account.user_RA"></ion-input>
        </ion-item>

        <!--CAMPO DE EMAIL-->
        <ion-item>
          <ion-label class="email">Email </ion-label>
          <ion-input class="inputFields" type="email" formControlName="user_email" [(ngModel)]="account.user_email"></ion-input>
        </ion-item>

        <!--CAMPO DE TELEFONE-->
        <ion-item>
          <ion-label class="telefone">Telefone </ion-label>
          <ion-input class="inputFields" type="text" formControlName="user_telefone" [(ngModel)]="account.user_telefone"></ion-input>
        </ion-item>

        <!--CAMPO DE EMAIL-->
        <ion-item>
        </ion-item>

      </ion-list>
    </form>
  </div>
</ion-content>