page-mensagem {

    .nlidas {
        background-color: rgb(177, 174, 174);
        border: solid; border-width: 1px;
        border-color: gray
    }

    .lidas {
        background-color: white;
        border: solid; border-width: 1px;
        border-color: gray
    } 
}
