<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left><!--botoes do cabeçalho - ESQUERDA-->
    </ion-buttons>
    <ion-title center>{{ 'Minhas caronas' }}</ion-title>
    <!--<ion-buttons right>
      <button ion-button icon-only (click)="clickConfig()" class="configuracoes">Config.</button><!--botao configuracoes
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let viagem of viagens_motorista" (click)="abrir(viagem)">{{d.descricao}}
      <ion-avatar item-start>
        <ion-icon name="md-person"></ion-icon>
        <!---<img src="img/avatar-cher.png">-->
      </ion-avatar>
      <h2>{{d.dia}}</h2>
      <p>{{d.hora}}</p>
    </button>
  </ion-list>


  <ion-list>
    <button ion-item *ngFor="let viagem of viagens_passageiro" (click)="abrir(viagem)">{{d.descricao}}
      <ion-avatar item-start>
        <ion-icon name="md-person"></ion-icon>
        <!---<img src="img/avatar-cher.png">-->
      </ion-avatar>
      <h2>{{d.dia}}</h2>
      <p>{{d.hora}}</p>
    </button>
  </ion-list>
</ion-content>