<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <!-- <div class="navHeight" style="background: #ffffff">
    <ion-title class="backTitle" style="top: 10px; left: 0px; width: 100%; text-align: center"><h1>Home</h1></ion-title> -->
    <!-- <button class="backButton" (click) = "clickBack()"><ion-icon class="backIcon" md="md-arrow-back"></ion-icon></button> -->
    <!-- </div>
    <div style="height: 65px"></div> -->
  <!-- {{nova ? 'Há mensagens não lidas' : ''}}   -->
  

  <div *ngFor="let item of mensagens">
    <div class="rounded-rectangle" style="--width: 5%">
      {{item.qtd}}
    </div>
    <div class="rounded-rectangle" style="--width: 95%">
      {{item.nome}}
    </div>
  </div>
  <!-- <div *ngIf="nova" style="width: 100%; margin-top: 100px; text-align: center; position: absolute">
    <button ion-button round (click)='clickMensagem()'>
      <ion-icon name="md-mail">  </ion-icon>
      &nbsp; Há mensagens não lidas
    </button>
  </div> -->
  <!-- {{nova ? <button (click)='clickMensagem()'>'Há mensagens não lidas'</button> : ''}} -->


</ion-content>
