page-home {
    .rounded-rectangle {
        display: table-cell;
        // color: black;
        // background-color: white;
        vertical-align: middle;
        width: var(--width);
        height: 50px;
        border: solid white 1px;
        // border-radius: 10px 10px 10px 10px;
        padding: 5px 10px;
        margin-top: 10px;
    }

    ion-card{
        ion-card-header{
            white-space: normal;
            position: relative;

            div.tipo{
                font-size: 0.8em;
                color: rgba(grey, 0.85);
                font-weight: 300;
                right: 16px;
                top: 16px;
                position: absolute;
                display: inline-block;
            }
        }

        ion-card-content{
            color: color($colors, dark);
            font-weight: 300;
        }
    }
}