page-grade-evento {
    .rounded-rectangle {
        width: var(--width);
        height: var(--height);
        border-left:solid black 1px;
        border-right:solid black 1px;
        border-top:solid black 1px;
        border-radius: 15px 15px 15px 15px;
        background-color: #eeeeee;
        padding: 5px 10px;
        margin-top: 10px;
    }
}