
<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{dados.nome}}</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="ion-navbar-extension">
    <ion-title>{{dados.nome_uc}}</ion-title>
  </div>
</ion-header>

<ion-content>
  
  <ng-container *ngIf="!eventoOuNao(dados)">
      <ion-fab right bottom>
        <button ion-fab color="primary"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
          <button ion-fab (click)="addFalta()"><ion-icon name="add"></ion-icon><ion-label>Adicionar Falta</ion-label></button>
          <button ion-fab (click)="removeFalta()"><ion-icon name="remove"></ion-icon><ion-label>Remover Falta</ion-label></button>
        </ion-fab-list>
      </ion-fab>

    <ion-list>
      <ion-item class="title">
        <b>{{dados.dia_semana}}</b> <div style="display: inline-block; margin-left: 1em;">{{dados.hora}}</div>
      </ion-item>
      <ion-item-divider color="light">Dados</ion-item-divider>
      <ion-item class="labeled">
        <span>turma</span> <b>{{dados.nome_turma}}</b>
      </ion-item>
      <ion-item class="labeled">
        <span>professor</span> <b>{{dados.nome_prof}}</b> 
      </ion-item>
      <ion-item class="labeled">
        <span>faltas</span> <b>{{dados.faltas}}</b>
      </ion-item>
    </ion-list>
  </ng-container>

  <div id="info" style="--width: 100%; --height: 100px" *ngIf="eventoOuNao(dados)">
      <div id="tipo"><h2><b>{{dados.nome}}</b></h2></div>
      <div id="data"><h2><b>{{dados.dia_mes}}/{{dados.mes}} {{dados.hora}}</b></h2></div>
      
      <div id="nomeuc" *ngIf="eventoOuNao(dados)">Turma: {{dados.nome_uc}} - {{dados.nome_turma}}</div>
  </div>

  <ng-container *ngIf="eventoOuNao(dados)">
    <div id="info3" style="--width: 100%; --height: 300px">
      <div id="tipo"><h2><b>Descrição</b></h2></div>
      <div id="nomeuc">{{dados.descricao_evento}}</div>
    </div>
  </ng-container>

</ion-content>
