// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// .navHeight {
//     height: 70px;
//     top: 0px;
//     left: 0px;
//     position: absolute;
//     width: 100%;
//     background: #ffe082;
// }

// .menuButton {
//     z-index: 1;
//     background: #ffc107;
//     top: 10px;
//     left: 10px;
//     height: 50px;
//     width: 50px;
//     position: absolute;
//     padding: 0px;
//     margin: 0px;
//     border: 1px solid #ffe082;
// }

// .menuIcon {
//     font-size: 30px;
//     position: absolute;
//     top: calc(50% - 14px);
//     left: calc(50% - 12px);
//     // transform: translate(-50%, -50%);
//     width: 10px;
//     height: 10px;
//     color: #444444;
//     // display: block;
// }

.md, .ios{
    .menu-inner{
        background-color: color($colors, dark);
    }
}

ion-menu{
    .content-md, .content-ios{
        @include linear-gradient(rgba(color($colors, primary), 0.075), 0%, color($colors, dark), 100%);
    }
    .list-md, .list-ios{
        button.item, .item-block, ion-item, .item-md, .item-ios{
            color: #eeeeee;
            background: transparent;
            font-size: 1em;

            &.activated{
                background: #353017;

                .item-inner{
                    color: color($colors, primary);
                }
            }

            &::after{
                $border-width: 90%;
                content: "";
                position: absolute;
                width: $border-width;
                margin: 0 calc((100% - #{$border-width}) / 2);
                top: calc(100% - 1px);
                height: 1px;
                background-color: #474747;
            }
            
            .item-inner{
                padding-left: 16px;
                border: none;
                margin-bottom: 1px;
            }

            ion-label{
                font-weight: 300;
            }

            ion-icon{
                font-size: 1em;
            }

            &.avatar{
                text-align: center;
            
                ion-row{
                    text-align: center;

                    ion-col.icon-wrapper{
                        button{
                            background: transparent;
                            box-shadow: none;
                            overflow: visible;

                            text-align: left;
                            font-size: 1.9em;

                            ion-icon[empty]{
                                opacity: 0.5;
                            }

                            ion-icon[new]{
                                color: color($colors, primary);
                            }

                            ion-badge {
                                position: absolute;
                                top: 0rem;
                                right: 1.3rem;
                                opacity: 0.9;
                                border-radius: 50%;
                                padding: 0.3rem 0.6rem;

                        
                                & ~ ion-icon {
                                    margin-right: 1.2rem;
                                }
                            }
                        }
                    }
                }

                ion-avatar{
                    $border-width: 4px;
                    display: inline-block;

                    ion-img, img{
                        $img-size: 15vh;
                        height: $img-size;
                        width: $img-size;

                        border: solid $border-width rgba(color($colors, primary), 0.85);
                    }
                }

                div.name{
                    margin-top: 1em;
                    font-size: 1.35em;
                    width: 100%;
                }
            }

            &.logout{
                position: fixed;
                bottom: 0;

                color: rgba(color($colors, light), 0.65);

                &.activated{
                    background: #363636;
                    
                    .item-inner{
                        color: color($colors, light);
                    }
                }
            }
        }
    }
}

.ion-page{
    ion-content{
        background: rgb(241, 241, 241);
    }

    .list-header-md{
        margin-bottom: 3px;
        margin-top: 10px;
        background: #fafafa;

        &:first-of-type{
            margin-top: 0px;
        }
    }
    .fab-md-secondary {
        color: color($colors, primary);
    }


    button.button-md[large], button.button-ios[large]{
        font-size: 1.8rem;
    }

    
    .fab{
        contain: layout;
    }
    button[ion-fab] {
        overflow: visible;
        position: relative;

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;

            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }

    
    
    div.ion-navbar-extension{
        min-height: $navbar-md-height;
        display: block;
        background: color($colors, primary);
        display: flex;
        align-items: center;
        text-align: center;
        padding: 1.2em 0.5em;

        ion-title .toolbar-title-md, ion-title .toolbar-title-ios {
            color: black;
            // font-size: 1.75em;
            text-transform: uppercase;
            white-space: normal;
        }
    }
}