page-utilidades {
    .botoes{
        text-align: center;
        width: 300px;
    }

    .loading-message{
        white-space: pre;
        text-align: center;
    }
}

.alertClass {
    text-align: center;
}
