<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left><!--botoes do cabeçalho - ESQUERDA-->
    </ion-buttons>
    <ion-title center>{{ 'Oferecer carona' }}</ion-title>
    <!--<ion-buttons right>
      <button ion-button icon-only (click)="clickConfig()" class="configuracoes">Config.</button><!--botao configuracoes
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #viagemForm="ngForm" (ngSubmit)="oferecer()">

    <ion-card>
      <ion-card-content>
        <ion-card-title> Data </ion-card-title>
        <ion-calendar
          [(ngModel)]="viagem.data"
          id="data"
          name="date"
          (onChange)="onChange($event)"
          required #data="ngModel">
        </ion-calendar>
      </ion-card-content>
    </ion-card>
  
    <!--
    <button ion-item (click)="abrirData($event)">
      <ion-label> Data </ion-label>
    </button>-->

    <ion-item>
      <ion-label floating> Local de origem </ion-label>
        <ion-select
          [(ngModel)]="origem"
          (ionChange)="criaDic()"
          multiple="true"
          id="id_origem"
          name="id_origem"
          required #id_origem="ngModel">
          <ion-option *ngFor="let op of lista" [value]="op.id_local" >{{op.descricao}}</ion-option>
        </ion-select>
    </ion-item>
  
    <ion-item *ngFor="let o of origem; let i = index">
      <ion-label > {{loc[o]}} </ion-label> 
      <div item-content>
        <ion-label floating> Hora </ion-label>
        <ion-datetime
          displayFormat="HH:mm"
          [(ngModel)]="horateste[o]"
          id="hora"
          name="hora"
          required #hora="ngModel">
        </ion-datetime>
      </div>
    </ion-item>


    <ion-item>
      <ion-label floating> Local de destino </ion-label>
      <ion-select
        [(ngModel)]="destino"
        multiple="true"
        id="id_destino"
        name="id_destino"
        required #id_destino="ngModel">
        <ion-option *ngFor="let op of lista" [value]="op.id_local" >{{op.descricao}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Quantidade de vagas</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="viagem.qtd_vagas"
        id="qtd_vagas"
        name="qtd_vagas"
        required #qtd_vagas="ngModel"
        min="1"
        max="5"
        step="1"
        value ="1">
      </ion-input>
    </ion-item>
    
    <!--
    <ion-item>
      <ion-label color="gray">Quantidade de vagas</ion-label>
      <ion-range min="1" max="5" [(ngModel)]="viagem.qtd_vagas" id="qtd_vagas" name="qtd_vagas" pin="true" snaps="true" required #qtd_vagas="ngModel">
        <ion-label range-left>1</ion-label>
        <ion-label range-right>5</ion-label>
      </ion-range>
    </ion-item>-->
    
    
    <ion-item>
      <ion-label floating>Preço R$</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="viagem.preco"
        id="preco"
        name="preco"
        required #preco="ngModel"
        min="0"
        step="0.50"
        value ="0.00">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating> Descrição </ion-label>
      <ion-input
        type="text"
        [(ngModel)]="viagem.descricao"
        id="descricao"
        name="descricao"
        required #descricao="ngModel">
      </ion-input>
    </ion-item>
    
    <button [disabled]="!viagemForm.form.valid" type="submit" ion-button round block>Oferecer</button>
    
  </form>
</ion-content>
