page-inicial-grade {
    .fundo {
        background: lightgray;
        padding: 5px;
    }
    .arredondado {
        border-radius: 0px 0px 15px 15px;
    }
    .rounded-rectangle {
        width: var(--width);
        height: 25px;
        border: solid black 1px;
        border-radius: 15px 15px 0px 0px;
        background-color: var(--color);
        padding: 5px 10px;
        margin-top: 10px;
    }
    .rectangle {
        width: var(--width);
        height: var(--height);
        border: 1px solid black;
        background-color: var(--color);
        padding: 10px;
        margin-top: -1px;
    }
}