<!--
  Generated template for the InicialGradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    <div class="navHeight">
    <ion-title class="backTitle">Grade</ion-title>
    <!-- <button class="backButton" (click) = "clickBack()"><ion-icon class="backIcon" md="md-arrow-back"></ion-icon></button> -->
    </div>
    <div style="height: 65px"></div>

  <ion-fab bottom>
    <button ion-fab color="primary" style="position: absolute; bottom: 75px; left: 10px" (click)='novaTurma()'><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <button ion-button round style="position: absolute; height: 45px; top: 10px; right: 10px" (click) = "clickAgenda()">Agenda semestral</button>


  <div *ngFor="let ds of diasSemana; let d = index">
    <div *ngIf="compromissos[ds].length > 0" class="rounded-rectangle" style="--width: 100%; --color: #cccccc">
      {{ds}}<span style="float: right">{{semana[d].dd}}/{{semana[d].mm}}/{{semana[d].yyyy}}</span>
    </div>
    <ng-container *ngFor="let compromisso of compromissos[ds]; let c = index">
      <div (click)="selecionarCompromisso(ds, c)" class="rectangle" [ngClass]="(c == compromissos[ds].length-1) ? 'arredondado' : 'nada'" style="--width: 100%; --height: 65px; --color: #eeeeee">
        <div *ngIf="eventoOuNao(compromisso) == false">
          {{compromisso.nome_uc}} - {{compromisso.turma}}
          <div style="float: bottom; margin-top: 10px">
            <div style="float: left">Aula</div>
            <div *ngIf="horaInObject(compromisso)" style="float: right">{{compromisso.hora}}</div>
          </div>
        </div>
        <div *ngIf="eventoOuNao(compromisso)">
          {{compromisso.nome_uc}} - {{compromisso.turma}}
          <div style="float: bottom; margin-top: 10px">
            <div style="float: left">{{compromisso.nome}}</div>
            <div *ngIf="horaInObject(compromisso)" style="float: right">{{compromisso.hora}}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div style="padding-bottom: 80px"></div>

</ion-content>
