<!--
  Generated template for the InicialGradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <div style="padding-top: 30px"></div>

  <div *ngFor="let ds of diasSemana; let d = index">
    <div *ngIf="compromissos[ds].length > 0" class="rounded-rectangle" style="--width: 100%">
      {{ds}}<span style="float: right">{{semana[d].dd}}/{{semana[d].mm}}/{{semana[d].yyyy}}</span>
    </div>
    <ng-container *ngFor="let compromisso of compromissos[ds]; let c = index">
      <div (click)="selecionarEvento(ds, e)" class="rectangle" [ngClass]="(c == compromissos[ds].length-1) ? 'arredondado' : 'nada'" style="--width: 100%; --height: 65px">
        <div *ngIf="eventoOuNao(compromisso) == false">
          {{compromisso.nome_uc}} - {{compromisso.turma}}
          <div style="float: bottom; margin-top: 10px">
            <div style="float: left">Aula</div>
            <div style="float: right">{{compromisso.hora}}</div>
          </div>
        </div>
        <div *ngIf="eventoOuNao(compromisso)">
          {{compromisso.nome_uc}} - {{compromisso.turma}}
          <div style="float: bottom; margin-top: 10px">
            <div style="float: left">{{compromisso.nome}}</div>
            <div style="float: right">{{compromisso.hora}}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
<br><br><br>
  <ion-grid style="font-size: 10px; margin-bottom: 100px">
    <ion-row *ngFor="let linha of tabela; let i = index;" style="border: think solid black;">
        <ion-col col-2 *ngFor="let coluna of linha; let j = index" [ngClass]="(i == 0 || j == 0) ? 'fundo' : 'nada'" style="text-align: center; border: 1px solid black;"> <!-- JUST ADD A col-4 attribute -->
              {{coluna}}
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
