

<ion-content padding>
  <div class="navHeight">
  <ion-title class="backTitle">Motorista</ion-title>
  <button class="backButton" (click) = "clickBack()"><ion-icon class="backIcon" md="md-arrow-back"></ion-icon></button>
  </div>
  <div style="height: 65px"></div>
  <ion-item>
    <ion-label text-wrap>
      <br>
      <h2>Dia <b>{{viagem.dia.slice(0,10)}}</b> às <b>{{viagem.hora}}</b></h2>
      <h2>Viagem de <b>{{loc[viagem.id_origem]}}</b> para <b>{{loc[viagem.id_destino]}}</b></h2>
      <br>
      <h2>Vagas disponíveis: {{viagem.qtd_vagas}}</h2>
      <h2>Descrição: {{viagem.descricao}}</h2>
      <button ion-item (click)="showConfirm()">
        <ion-icon name="md-trash"></ion-icon>   Excluir viagem
      </button>
    </ion-label>
  </ion-item>
  <br>
  <ion-list *ngIf="reservaConfirmada.length > 0">
    <h4>Reservas Confirmadas</h4>
    <ion-item *ngFor="let r of reservaConfirmada" >{{r.nome}}
      <ion-avatar item-start>
        <ion-icon name="md-person"></ion-icon>
        <!---<img src="img/avatar-cher.png">-->
      </ion-avatar>
      <!-- <br>
      <button ion-button icon-end (click)="excluirReserva(r)">
        <ion-icon name="md-trash"></ion-icon>
      </button> -->
      <br>Buscar às <b>{{r.hora}}</b> em: <b>{{loc[r.id_origem]}}</b>
      <br>Levar até: <b>{{loc[r.id_destino]}}</b>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="reservaPendente.length > 0">
    <h4>Reservas Pendentes</h4>
    <ion-item *ngFor="let r of reservaPendente">{{r.nome}}
      <ion-avatar item-start>
        <ion-icon name="md-person"></ion-icon>
        <!---<img src="img/avatar-cher.png">-->
      </ion-avatar>
      <br>
      <button ion-button icon-end (click)="showConfirmRejeitar(r)">
        <ion-icon name="md-thumbs-down"></ion-icon>
      </button>
      <button ion-button icon-end (click)="showConfirmAceitar(r)">
        <ion-icon name="md-thumbs-up"></ion-icon>
      </button>
      <br>Buscar às {{r.hora}} em: {{loc[r.id_origem]}}
      <br>Levar até: {{loc[r.id_destino]}}
    </ion-item>
  </ion-list>

</ion-content>
