<ion-header>
    <ion-navbar color="primary">
      <ion-buttons left><!--botoes do cabeçalho - ESQUERDA-->
      </ion-buttons>
      <ion-title center>{{ 'Procurar carona' }}</ion-title>
      <!--<ion-buttons right>
        <button ion-button icon-only (click)="clickConfig()" class="configuracoes">Config.</button><!--botao configuracoes
      </ion-buttons>-->
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <form #viagemForm="ngForm" (ngSubmit)="procurar()">
  
      <ion-item>
          <ion-label floating> Data </ion-label>
          <ion-datetime
            displayFormat="YYYY-MM-DD"
            [(ngModel)]="viagem.data"
            id="data"
            name="data"
            required #data="ngModel">
          </ion-datetime>
        </ion-item>
      
      <ion-item>
        <ion-label floating> Hora </ion-label>
        <ion-datetime
          displayFormat="HH:mm"
          [(ngModel)]="viagem.hora"
          id="hora"
          name="hora">
        </ion-datetime>
        <!-- required #hora="ngModel"> -->
      </ion-item>
  
      <ion-item>
        <ion-label floating> Local de origem </ion-label>
        <ion-select
          [(ngModel)]="viagem.id_origem"
          id="id_origem"
          name="id_origem">
          <!--required #id_origem="ngModel">-->
          <ion-option *ngFor="let op of lista" [value]="op.id_local" >{{op.descricao}}</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
          <ion-label floating> Local de destino </ion-label>
          <ion-select
            [(ngModel)]="viagem.id_destino"
            id="id_destino"
            name="id_destino">
            <!--required #id_destino="ngModel">-->
            <ion-option *ngFor="let op of lista" [value]="op.id_local" >{{op.descricao}}</ion-option>
          </ion-select>
        </ion-item>
  
      
      <ion-item>
        <ion-label floating>Quantidade de vagas</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="viagem.qtd_vagas"
          id="qtd_vagas"
          name="qtd_vagas"
          min="1"
          max="5"
          step="1"
          value ="1">
          <!--required #qtd_vagas="ngModel"-->
        </ion-input>
      </ion-item>
            
      <button [disabled]="!viagemForm.form.valid" type="submit" ion-button round block>Procurar</button>
      
    </form>
  </ion-content>
  